on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: Dev
    steps:
      - name: Configure AWS Credentials
        run: |
          if [ -z "${{ secrets.DEV_SECRET }}" ]; then
            echo "âŒ Missing secrets. Deployment aborted."
            exit 1
          fi
          echo "DEV_SECRET=${{ secrets.DEV_SECRET }}" >> $GITHUB_ENV
          
